---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Acerca de mí - Mi Portafolio">
  <main>
    <h1>Acerca de mí</h1>
    <img src="https://i.ibb.co/q3MnTrT9/Portafolio-yo.jpg" alt="Daniel" style="max-width: 300px; border-radius: 8px; margin-bottom: 20px;" />
    <p>Mi nombre es Daniel. A diferencia de la mayoría de los desarrolladores me he acercado con pasión a la tecnología en mi madurez. Un aspecto a valorar que me permite ofrecer la ilusión de quién inicia un nuevo camino profesional y la solvencia de la experiencia. Mi formación se ha realizado tanto en cursos guiados como autodidacta. Me ofrezco para participar en proyectos y desplegar todas mis habilidades.</p>
  </main>
</Layout>
